html{
  scroll-behavior: smooth;
}
@font-face {
    font-family: my font;
    src: url(Praetoria\ D.otf);
}
body {
    font-family:'Times New Roman', Times, serif;
    color: white;
    background-color: black;
  }
  /* BACK TO TOP BUTTON*/
  
  #btt {
    position: fixed;
    margin-bottom: 20px;
    margin-right: 20px;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    width: 50px;
    transition: margin-bottom 0.6s, opacity 0.6s;
  }
  
  #btt:hover {
    margin-bottom: 25px;
    opacity: 1;
    transition: margin-bottom 0.6s, opacity 0.6s;
  }
  
  
  /* WELCOME */
  
  #welcome {
    font-family: my font;
    color: white;
    background: url("design-attractive-wallpaper-for-desktop-and-mobile-in-8k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    padding: 5% 5% 5% 5%;
  }
  #welcome h1,
  #portfolio h1 {
    font-size: 70pt;
    font-weight: bold;
  }
  
  #welcome h3,
  #portfolio h3 {
    font-size: 28pt;
  }
  
  
  /* DOWN ARROW */
  
  #press {
    width: 60px;
    border: solid 4px white;
    border-radius: 40px;
    margin-top: 20%;
    transition: background-color 0.6s, opacity 0.6s, margin-top 1s;
  }
  
  #press:hover {
    background-color: black;
    opacity: 0.8;
    margin-top: 21%;
    transition: background-color 0.6s, opacity 0.6s, margin-top 1s;
  }
  
  
  /* ABOUT */
  
  #about {
    background: url("design-attractive-wallpaper-for-desktop-and-mobile-in-8k.jpg");
    padding: 5% 5% 5% 5%;
    height: 100vh;
    width: auto;
  }
  
  #about h1 {
    font-family: my font;
    font-size: 40pt;
    font-weight: bold;
    text-align: left;
  }
  
  #about p {
    text-align: left;
  }
  
  #about #email img {
    text-align: left;
    width: 25px;
  }
  
  #email {
    background-color: #522258;
    padding: 2% 2% 2% 2%;
    border-radius: 40px;
    margin-left: 2%;
    transition: box-shadow 0.5s, color 0.8s, background-color 0.5s;
  }
  
  #portScroll {
    background-color: #522258;
    padding: 2% 2% 2% 2%;
    border-radius: 40px;
    margin-left: 2%;
    transition: box-shadow 0.5s, color 0.8s, background-color 0.5s;
  }
  
  #about #portScroll img {
    text-align: left;
    margin-right: 5px;
    width: 18px;
  }
  
  #portScroll a,
  #portScroll a:hover {
    color: white;
    text-decoration: none;
  }
  
  #email:hover,
  #portScroll:hover {
    box-shadow: 5px 15px 30px #062928;
    background-color: #2E073F;
    transition: box-shadow 0.5s, color 0.8s, background-color 0.5s;
    cursor: pointer;
  }
  
  #self img {
    width: 35%;
    float: right;
    border: solid 8px #2E073F;
    border-radius: 2000px;
    box-shadow: 5px 15px 30px #062928;
  }
  
  
  /* PORTFOLIO */
  
  #portfolio {
    font-family: my font;
    background-color: #2E073F;
    text-decoration: none;
    color: white;
    padding: 5% 5% 5% 5%;
    width: auto;
    height: 100vh;
  }
  
  #portfolio h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
  }
  
  #port img {
    width: 500px;
    opacity: 0.5;
    transition: opacity 0.5s, box-shadow 0.5s;
  }
  
  #port img:hover {
    opacity: 1;
    box-shadow: 0px 10px 50px #2E073F;
    transition: opacity 0.5s, box-shadow 0.5s;
  }
  
  
  /* NAV */
  
  #openmenu {
    font-family: my font;
    font-size: 20pt;
    background-color: #2E073F;
    border-bottom: solid 2px white;
    border-right: solid 2px white;
    position: fixed;
    padding: 2px;
    width: 10%;
    text-align: center;
    top: 0;
    left: 0;
    transition: width 0.5s;
  }
  
  #openmenu:hover {
    width: 15%;
    transition: width 0.5s;
    cursor: pointer;
  }
  
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  
  /* Position the content inside the overlay */
  
  .overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  
  /* The navigation links inside the overlay */
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
  }
  
  
  /* When you mouse over the navigation links, change their color */
  
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  
  
  /* Position the close button (top right corner) */
  
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
    /* Override the font-size specified earlier (36px) for all navigation links */
  }
  
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px
    }
    .closebtn {
      font-size: 40px !important;
      top: 15px;
      right: 35px;
    }
  }
  /*pointer*/
  .circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
  font-family: my font;
}
#skills {
    padding: 50px;
    background: url("design-attractive-wallpaper-for-desktop-and-mobile-in-8k.jpg");
    text-align: center;
}

#skills h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: white;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    width: 30%;
    margin: 20px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.skill:hover {
    transform: translateY(-10px);
}

.skill-icon {
    font-size: 3em;
    margin-bottom: 10px;
    color: #333;
}

.skill h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #666;
}

.skill-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.skill-level {
    height: 20px;
    background-color: #2E073F;
    border-radius: 5px;
}

/* HTML Skill Bar */
.html-skill {
    width: 0;
    animation: htmlSkill 2s forwards;
}

@keyframes htmlSkill {
    from { width: 0; }
    to { width: 90%; }
}

/* CSS Skill Bar */
.css-skill {
    width: 0;
    background-color:#2E073F;
    animation: cssSkill 2.5s forwards;
}

@keyframes cssSkill {
    from { width: 0; }
    to { width: 85%; }
}

/* JavaScript Skill Bar */
.js-skill {
    width: 0;
    background-color: #2E073F;
    animation: jsSkill 3s forwards;
}

@keyframes jsSkill {
    from { width: 0; }
    to { width: 60%; }
}

/* Java Skill Bar */
.java-skill {
    width: 0;
    background-color:#2E073F;
    animation: javaSkill 2.5s forwards;
}

@keyframes javaSkill {
    from { width: 0; }
    to { width: 90%; }
}

/* Python Skill Bar */
.python-skill {
    width: 0;
    background-color:#2E073F;
    animation: pythonSkill 2.7s forwards;
}

@keyframes pythonSkill {
    from { width: 0; }
    to { width: 70%; }
}

/* Springboot Skill Bar */
.Springboot-skill {
    width: 0;
    background-color:#2E073F;
    animation: SpringbootSkill 2.3s forwards;
}

@keyframes SpringbootSkill {
    from { width: 0; }
    to { width: 60%; }
}

/* Django Skill Bar */
.djangoproject-skill {
    width: 0;
    background-color: #2E073F;
    animation: djangoSkill 3s forwards;
}

@keyframes djangoSkill {
    from { width: 0; }
    to { width: 50%; }
}
/* mongo Skill Bar */
.mongo-skill {
  width: 0;
  background-color:#2E073F;
  animation: sqlSkill 2.3s forwards;
}

@keyframes mongoskill {
  from { width: 0; }
  to { width: 50%; }
}
/* Responsive design */
@media screen and (max-width: 768px) {
    .skill {
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .skill {
        width: 90%;
    }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  background-color: black;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("astonaut.jpeg");
}
.card[for="c2"] {
  background-image: url("des.png");
}
.card[for="c3"] {
  background-image: url("manage.png");
}
.card[for="c4"] {
  background-image: url("secure.jpeg");
}
